* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

.container-header {
  width: 100%;
  height: 60px;
}

.container-header .only-logo {
  width: 100%;
  margin: 0 auto;
}

.container-header .only-logo .logo {
  float: left;
}

.container-header .only-logo .logo img {
  height: 48px;
  margin-right: 25px;
  padding-top: 10px;
  margin-left: 20px;
}

.container-header .only-logo .text-logo h2 {
  height: 100%;
  line-height: 60px;
  float: left;
  color: #5f6368;
  font-weight: 400;
  font-size: 20px;
}

.container-menu {
  width: 100%;
  height: 31px;
}

.container-menu .menu {
  width: 100%;
  padding: 0px 25px;
  height: 32px;
  margin: 0 auto;
  border-bottom: 1px solid lightgrey;
}

.container-menu .menu .menu-left {
  float: left;
  width: 70%;
}

.container-menu .menu .menu-left ul {
  list-style: none;
}

.container-menu .menu .menu-left ul li {
  display: inline-block;
  font-size: 15px;
  margin-right: 42px;
  color: #6b6b6b;
  font-weight: 600;
}

.container-menu .menu .menu-left ul li.blue {
  color: #3367d6;
  border-bottom: 2px solid #3367d6;
  line-height: 25px;
}

.container-menu .menu .menu-right {
  width: 12%;
  float: right;
}

.container-menu .menu .menu-right p {
  text-align: right;
  font-size: 15px;
}

.container-faq {
  width: 100%;
  height: 800px;
}

.container-faq .faq {
  width: 65%;
  height: 100%;
  margin: auto;
  padding-top: 67px;
}

.container-faq .faq h2 {
  font-size: 24px;
  line-height: 35px;
  margin-bottom: 15px;
}

.container-faq .faq p {
  font-size: 14px;
  margin-bottom: 35px;
  line-height: 26px;
}
